<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <%= render 'main_header' %>
      <%= render 'flash_messages' %>
      <%= yield %>
    </div>
  </body>
  <footer>
    <p class="language">
      <%= t('select_locale') %>
      <%= link_to 'English', '/?locale=en' %>
      <%= link_to 'Português', '/?locale=pt-BR' %>
    </p>
  </footer>
</html>
